@font-face {
  font-family: 'peaches-and-cream';
  src: url('./assets/fonts/peachesAndCreamRegular.otf') format('opentype');
}

@font-face {
  font-family: 'gotham';
  src: url('./assets/fonts/gothamLight.otf') format('opentype');
}

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: gotham;
  font-weight: 300;
  color: white
}

body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  height: 300px; 
  width: 100vw;
  background-color: #00abc7;
  outline: none !important;
  cursor: grab;
}

.flickity-viewport {
  height: 100% !important;
  overflow-x: hidden;
}

.flickity-slider {
  height: 100% !important;
}

.slide {
  height: 100%; 
  width: 100%;
  display: flex;
  align-items: center;
  background-position: bottom right !important;
  background-size: contain !important; 
  background-repeat: no-repeat !important; 
}

.slide-content-wrapper {
  height: 100% !important;
  width: 100% !important;
  background: linear-gradient(0deg, rgba(0,171,199,0.6) 0%, rgba(0,50,160,0.8) 35%, rgba(0,50,160,0.8) 65%, rgba(0,171,199,0.6) 100%); height: 100%; width: 100%;
}

.slide-content {
  height: 100%;
  width: 100%;
  padding: 0 24px;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  justify-content: center;
  transition: all ease 1s;
}

.slide-content .title {
  font-family: peaches-and-cream;
  line-height: 0.91em;
  font-size: 50px; 
  margin: 0;
  color: white; 
  text-shadow: -3px 2px rgb(0, 50, 160);
}

.slide-content .text {
  display: none;
}

.slide-content button {
  font-size: 0.775em;
  padding: 8px 16px;
  margin-top: 24px;
  line-height: 0.875em;    
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5.25px;
  border: solid 2px #f8f8f8;
  background-color: #ec0044;
  color: #f8f8f8;
  transition: all ease 0.3s;
}

.flickity-page-dots {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  width: 100%;
  padding: 0;
  margin-top: 16px;
  border: none !important;
  outline: none !important;
  list-style: none;
  cursor: auto;
}

.flickity-page-dots .dot {
  width: 10px;
  height: 10px;
  margin: 0;
  border: 2px solid #00abc7;
  border-radius: 100%;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  background-color: #00abc7;
}

@media (min-width: 600px) {

  .carousel {
    height: 400px;
  }

  .slide-content {
    padding: 0 120px;
  }

  .slide-content .title {
    font-size: 80px; 
  }

  .slide-content .text {
    display: block; 
    font-family: gotham;
    font-weight: 600;
    line-height: 1.5em;
    max-width: 70%;
  }

  .slide-content button {
    font-size: 0.875em;
    padding: 12px 20px;
    margin-top: 16px;
  }
}

@media (min-width: 900px) {

  .slide-content-wrapper {
    background: none;
  }

  .slide-content {
    width: fit-content !important;
    padding: 0 24px;
    background: none;
  }

  .slide-content .title {
    font-size: 90px; 
  }
}

@media (min-width: 1200px) {

  .slide-content {
    padding: 0 180px;
  }
}

@media (min-width: 1500px) {

  .slide-content {
    padding: 0 240px;
  }

  .slide-content .title {
    font-size: 100px; 
  }
}